.main {
    padding-top: 90px;
    position: relative;
    flex-grow: 1;
}

@media(max-width: $point-2) {
    .main {
        padding-top: 60px;

        &__button {
            display: block;
            margin: 0 auto 35px;
            position: relative;
            z-index: 10;
        }
    }
}
