*, *::before, *::after {
  @include reset();
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.body {
  font-family: $poppins;
  color: $black;
  background-color: $lightGreen;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

h1, p {
  a {
    color: $orange;
    transition: color 0.2s;

    &:hover,
    &:focus {
      color: $green;
    }
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
  height: auto;
}

input, textarea, button, select {
  font: inherit;
}
