$roboto: "Roboto", "Arial", sans-serif;
$poppins: "Poppins", "Arial", sans-serif;

$white: #FFFFFF;
$black: #2D2D2D;
$orange: #FF8345;
$green: #48B774;
$gray: #4A4A4A;
$lightGray: #7C7C7C;
$lightestGray: #A1A1A1;
$lightGreen: #ECF7F3;

$wrapper: 1180px;
$point-1: 992px;
$point-2: 767px;
$point-3: 500px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
